mat-card {
    align-self: center;
    max-width: 700px;
    margin: 8em auto;
    text-align: center;
    max-height: 600px;
    background-color: rgb(253, 240, 255);
    color: #000;
    box-shadow: 0 0 1rem 1rem rgba(147, 37, 232, 0.2); 
    border-radius: 20px;
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }
  